.cover__title {
  position: absolute;
  top: 245px;
  right: 312px;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  z-index: 2;
}
@media (max-width:1024px) {
.cover__title {
    top:195px;
    right: 232px;
  }
}
@media (max-width:768px) {
.cover__title {
    top:115px;
    right: 104px;
  }
}
@media (max-width:320px) {
.cover__title {
    max-width: 288px;
    top:33px;
    right: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}