.places {
  margin-left: 148px;
  margin-right: 148px;
  margin-top:92px;
  min-width:min-content;
}
@media (max-width:1135px) {
.places {
    margin-left: 48px;
    margin-right: 48px;
  }
}
@media (max-width:1015px) {
.places {
    margin-top:88px;
    margin-left: 24px;
    margin-right: 24px;
    }
}
@media (max-width:760px) {
.places {
    margin-top:64px;
    margin-left: 0;
    margin-right: 0;
  }
}
