.places {
  margin-left: auto;
  margin-right: auto;
  margin-top:92px;
  max-width:min-content;
}
@media (max-width:1015px) {
.places {
    margin-top:88px;
    }
}
@media (max-width:760px) {
.places {
    margin-top:64px;
  }
}
