.cover__subtitle{ 
  z-index: 2;
  margin: 0 auto;
  display: flex;
  text-align: center;
  color: white;
  max-width: 360px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  position: relative;
} 
 
 
@media screen and (max-width: 540px) { 
  .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    max-width: 260px;
  }
}  
