.place__website {
  margin-top: 0px;
  margin-bottom: 48px;
  max-width: 456px;
  align-self: flex-end;
}
@media (max-width:1150px) {
.place__website {
  }
}
@media (max-width:1015px) {
.place__website {
    max-width: 352px;
  }
}
@media (max-width:760px) {
.place__website {
    margin:0;
    max-width: 288px;
    grid-row-start: 2;
    grid-row-end:3;
    margin-bottom: 32px;
    margin-left:16px;
  }
}