.cover__background {
  width: 1184px;
  height: 740px;
  background-image:url(../../../images/__background.png);
  background-size: cover;
  position:absolute;
}

@media (max-width:1024px) {
.cover__background {
    max-width: 1024px;
    max-height: 640px;
  }
}
@media (max-width:768px) {
.cover__background {
    max-width: 768px;
    max-height: 480px;
  }
}
@media (max-width:320px) {
.cover__background {
    max-width:320px;
    max-height: 200px;
  }
}

