.intro {
  max-width: 984px;
  margin-top: 92px;
}
@media (max-width:1080px) {
.intro {
    max-width: 928px;
  }
}
@media (max-width:980px) {
.intro {
    margin-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    
  }
}
@media (max-width:320px) {
.intro {
    margin-top:64px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
}
