.place__paragraph {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 163%;
  color: white;
  max-width: 484px;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
@media (max-width:1135px) {
.place__paragraph {
    max-width: 456px;
    margin-bottom: 27px;
  }
}
@media (max-width:1015px) {
.place__paragraph {
    font-size: 16px;
    line-height: 163%;
    max-width: 352px;
    margin-bottom: 25px;
  }
}
@media (max-width:760px) {
.place__paragraph {
    margin:0;
    max-width: 288px;
    grid-row-start:5;
    grid-row-end:6;
    margin-bottom: 25px;
    margin-left:16px;
  }
  .place__paragraph:last-child {
    grid-row-start:6;
    grid-row-end:7;
    margin-bottom: 0;
  }
}