.place__image {
  max-width: 460px;
  max-height: 460px;
  grid-row-start: 2;
  grid-row-end: 4;
}
@media (max-width:1100px) {
.place__image {
    max-width: 440px;
    max-height: 440px;
  }
}
@media (max-width:995px) {
.place__image {
    max-width: 340px;
    max-height: 340px;
  }
}
@media (max-width:730px) {
.place__image {
    margin:0;
    max-width:320px;
    max-height: 320px;
    grid-row-start:3;
    grid-row-end:5;
    margin-bottom: 32px;
  }
}