.cover__overlay {
  position: absolute;
  width: 1184px;
  height: 740px;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
}
.cover__overlay:hover {
  opacity: 0.8;
}
@media (max-width:1024px) {
.cover__overlay {
    max-width: 1024px;
    max-height: 640px;
  }
}
@media (max-width:768px) {
.cover__overlay {
    max-width: 768px;
    max-height: 480px;
  }
}
@media (max-width:320px) {
.cover__overlay {
    max-width:320px;
    max-height: 200px;
  }
}